* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: silver;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:cornsilk;
  padding: 1rem 2rem;
}

.logo {
  color: cornflowerblue;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: goldenrod;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  color: cyan;
}



/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
              url('https://i.imgur.com/DcZyMNt.jpg') no-repeat center/cover;
  color: orange;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: gainsboro;
  color:brown;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: turquoise;
}

/* Products Section */
.products {
  text-align: center;
  padding: 50px 20px;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: teal;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0 20px;
}

.product-card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin-top: 15px;
  font-size: 1.3rem;
}

.product-card p {
  margin: 10px 0;
  font-size: 0.95rem;
  color: hotpink;
}

.product-card button {
  background: rgb(rgb(223, 222, 222));
  color: darkviolet;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.product-card button:hover {
  background: #ff2a00;
  color: blue;
}

/* Footer */
footer {
  background:olivedrab;
  color: oldlace;
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
