 nav {
    background-color: lightcoral;
}

body {
    background-color: lightcyan;
    border: 5px solid lightslategray;
}



a {
    color: whitesmoke;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a  {
  margin-left: 120px; 
  text-decoration: none;
}

.search-bar{
    margin-left: 80px;
}
.basket {
    margin-left: 40px;
}