 nav {
    background-color: cyan;
}

#main-img {
    background-color: lime;
    margin-left: 15%;
    margin-top: 5%;
    border: 2px solid black;
    width: 70vw;
    height: 50vh;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.card {
    width: 18rem;
}

.card-price {
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .original-price {
    text-decoration:line-through;
}
 */


#card-back-body {
    background-image: url("card-back-img/img-1.jpg");
    background-size: cover;
    
}

#card-back-body-2 {
    background-image: url("card-back-img/img-2.jpg");
    background-size: cover;
}

#product-container-2 .card {
    width: 30%;
}

#product-container-2 img {
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.male-section-heading {
    margin: 100px 0px 70px 0px;
}
